.recomendations {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.iniciarReceita {
  padding:30px;
  background-color: chartreuse;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.iframe-container {
  display: flex;
  justify-content:center;
}
.iframe-video {
  margin: 3em;
}

.escondido {
  display: none;
}

.aparente {
  display: flex;
}

.thought:checked + .finish {
  text-decoration: line-through;
}

/* .finish > .thought:checked {
  text-decoration: line-through;
} */

